Flight_Simulator/[Ll]ibrary/
Flight_Simulator/[Tt]emp/
Flight_Simulator/[Oo]bj/
Flight_Simulator/[Bb]uild/
Flight_Simulator/[Bb]uilds/
Flight_Simulator/[Ll]ogs/
Flight_Simulator/[Uu]ser[Ss]ettings/

Flight_Simulator/[Mm]emoryCaptures/
Flight_Simulator/[Mm]emoryCapture/

!Flight_Simulator/[Aa]ssets/**/*.meta

Flight_Simulator/[Rr]ecordings/

Flight_Simulator/[Aa]ssets/Plugins/Editor/JetBrains*

.vs/
.vscode/
.vsconfig/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

Flight_Simulator/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

Flight_Simulator/[Aa]ssets/[Ss]treamingAssets/aa.meta
Flight_Simulator/[Aa]ssets/[Ss]treamingAssets/aa/*

/ignore.conf
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$